#header {
  background: #444;
  color: #fff;
  font-size: 2rem;
  padding: 0.75rem 1rem;
}

#header .container {
  max-width: 100%;
}

#social-icons {
  text-align: right;
  margin-bottom: 0;
}

#social-icons a {
  color: #fff;
}

#social-icons a:hover {
  color: #ddd;
}
